.post_element{
	margin-top:25px;
	padding-top:00px;
	padding-left: 30px;
	padding-right: 30px;
}


.post_date{
	float:right;
	font-size: 60%;
}


.post_likes{
	float:right;
	font-style: italic;
}


.bouton{
	margin-top: 10px;
	margin-left: 20px;
}

.post_smiley{
	float:right;
	margin-right:10px
}